<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Text to QR
    body
        h2 #{qrValue}
        img#base64image(style='display:block;' src=qrData)